<body style="background: red">
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form id="formLuki" action="{% url 'polls:luki_post' %}" method="post">
    {% csrf_token %}
    <input type="text" id="arg1" name="arg">
    <input type="submit" value="Submit">
    <div onclick="document.getElementById('formLuki').submit();">Click me to post without button</div>
</form>

</body>

{% load static %}
<script src="{% static "polls/js/script.js" %}" onload="createChessBoard()"></script>
